<header>
  <h1>Réinitialisation du mot de passe "Harmony"</h1>
</header>
<main>
  <h2>Entrez votre mot de passe 2 fois.</h2>
  <% if(info !== null) { %>
      <p><%= info %></p>
  <% } %>
  <form action="/api/v1/user/changePassword/<%=key_id%>" method="POST">
      <input type="text" name="password1" placeholder="mot de passe" />
      <input type="text" name="password2" placeholder="retapez votre mot de passe"/>
      <input type="submit" value="envoyer" />
  </form>
</main>
